{% extends "base.html" %}
{% block content %}
{% include "navigation-blog.html" %}
<header id="site-header" class="site-article valign-center">
    <div class="intro blog">
        <h1>
          {{article.title }}</br>
          <small>{{article.author}} - {{article.date |strftime('%d/%m/%Y') }}</small>
        </h1>
        {% if article.category != "blog" %}
        <br>
        <blockquote>{{ article.summary }}</blockquote>
        {% endif %}
    </div>
</header>
<section id="article-content" class="valign-center">
  <article class="container">
    <div class="container-line">

      <div class="entry-content">
        <p>
          {{ article.content }}
        </p>
      </div><!-- /.entry-content -->
    </div>
  </article>
</section>
{% include "footer.html" %}
{% endblock %}