{% extends "base.html" %}
{% block content %}
{% include "internal-navigation.html" %}

<section id="article-content" class="valign-center">
  <article class="container">
    <div class="container-line">
      <header>
        <h1 class="entry-title">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{
            article.title }}</a>
        </h1>
        Dia: {{ article.locale_date }}
      </header>

      <div class="entry-content">
        <p>
          {{ article.content }}
        </p>
      </div><!-- /.entry-content -->
    </div>
  </article>
</section>
{% endblock %}