<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Grupy São Marcos</title>

    <!-- css -->
    <link rel="stylesheet"
        href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
    {% if FEED_ALL_ATOM %}
    <link
        href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
        type="application/atom+xml" rel="alternate" title="{{ SITENAME|striptags }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link
        href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
        type="application/rss+xml" rel="alternate" title="{{ SITENAME|striptags }} RSS Feed" />
    {% endif %}
    {% block extra_head %}{% endblock extra_head %}
    {% endblock head %}
</head>

<body data-spy="scroll" data-target="#site-nav">
    {% block content %}
    {% endblock %}
    <!-- script -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
</body>

</html>