<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logogrupy.svg" alt="Logo" height="56px">
            </div>
            <div class="col-md-4">
                <p class="site-info">Theme Designed and Developed <br> by <a href="http://technextit.com">Technext Limited</a></p>
                <p class="site-info">Todas informações reservadas ao <br>Grupy de São Marcos</p>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/authors.html">
                            Colaboradores
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>