<footer class="site-footer">
    <div class="container">
        <div class="row footer-main">
            <div class="col-md-4 footer-brand">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logogrupy.svg" alt="Logo Grupy São Marcos" height="48px">
                <p class="footer-desc">Comunidade de tecnologia e desenvolvimento de São Marcos - RS</p>
            </div>
            <div class="col-md-4">
                <h4 class="footer-heading">Comunidade</h4>
                <ul class="footer-links">
                    <li><a href="/#about">Sobre</a></li>
                    <li><a href="/#objetivos">Objetivos</a></li>
                    <li><a href="/#schedule">Eventos</a></li>
                    <li><a href="/pages/blog.html">Blog</a></li>
                    <li><a href="/authors.html">Colaboradores</a></li>
                    <li><a href="/#partner">Apoiadores</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="footer-heading">Contato</h4>
                <ul class="footer-links">
                    <li><a href="https://github.com/grupy-sao-marcos" target="_blank" rel="noopener">GitHub</a></li>
                    <li><a href="https://github.com/grupy-sao-marcos/call4papers/issues" target="_blank" rel="noopener">Call4Papers</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Grupy São Marcos. Comunidade aberta e colaborativa.</p>
        </div>
    </div>
</footer>