{% extends "base.html" %} {% block content_title %}{% endblock %} {% block
content %}
<div class="row mt-4">
    <div class="col-12 col-lg-6">
        <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/logopython.png"
            alt="logo"
            width="80px"
            class="img-fluid"
        />
        <h1>GRUPY</h1>
    </div>
</div>
<div class="row">
    <div class="d-lg-flex p-2 align-items-center text-center">
        <div class="flex-grow-1 p-2 mb-4">
            <h2>
                GRUPY <br />
                São Marcos - RS
            </h2>
            {% if FORM_INSCRICAO %}
            <br />
            <br />
            <a href="{{FORM_INSCRICAO}}" target="_blank" class="custom-buttom"
                >Inscrever-se</a
            >
            {% endif %}
        </div>
        <div class="flex-shrink-0 p-2">
            <img
                src="https://picsum.photos/seed/picsum/500/500"
                alt="imagem do grupo"
                class="rounded img-fluid"
            />
        </div>
    </div>
</div>
{% if articles %} {% for article in articles_page.object_list if
article.category == "Evento"%} {# First item #} {% if loop.first and not
articles_page.has_previous() %}
<div class="row mt-5 pt-5">
    <div class="col-12 col-lg-6">
        <img
            src="https://picsum.photos/seed/picsum/500/300"
            alt="imagem do grupo"
            class="rounded img-fluid"
        />
    </div>
    <div class="col-12 col-lg-6">
        <h3>Proximo <span class="purple-text">Evento</span></h3>
        <h4 class="mt-4">{{ article.title }}</h4>
        <p class="mb-0 border-divisor">
            <span class="purple-text">Dia</span>: {{ article.locale_date }}
        </p>
        <p>{{ article.summary }}</p>
    </div>
    <div class="text-end">
        {% if FORM_INSCRICAO %}
        <br />
        <br />
        <a href="{{FORM_INSCRICAO}}" target="_blank" class="custom-buttom"
            >Inscrever-se</a
        >
        {% endif %}
    </div>
</div>
{% endif %} {% endfor %} {% endif %}
<div class="row mt-5 pt-5">
    <div class="col-12">
        <h2 class="text-center">
            Somos uma comunidade de desenvolvedores, que segue os princípios do
            <span class="purple-text">Small Acts Manifesto</span>.
        </h2>
        <h4 class="text-center">
            Temos como principais objetivos compartilhar conhecimento, treinar e
            capacitar desenvolvedores em
            <span class="purple-text">hard and soft skills</span>, divulgar a
            linguagem python mas não exclusivamente e criar oportunidades de
            <span class="purple-text">inovação e empreendedorismo</span>.
        </h4>
    </div>
</div>

<div class="row mt-5 pt-5">
    <div class="col-12 col-lg-6">
        <h2>Chamada para <span class="purple-text">trabalhos</span></h2>
        <p>
            O evento é um sucesso graças a voluntarios que se disponibilizam a
            palestrar e divulgar seu conhecimento, estamos com a chamada de
            trabalhos sempre aberta no
            <span class="purple-text">Github</span> basta abrir uma issue em:
        </p>
        {% if C4PAPERS %}
        <br />
        <br />
        <a href="{{C4PAPERS}}" target="_blank" class="custom-buttom"
            >Call for Papers</a
        >
        {% endif %}
    </div>
    <div class="col-12 col-lg-6">
        <img
            src="https://picsum.photos/seed/picsum/500/500"
            alt="imagem do grupo"
            class="rounded img-fluid"
        />
    </div>
</div>

<div class="row mt-5 pt-5">
    <div class="col-12 col-lg-6">
        <h2 class="text-start">
            Eventos <span class="purple-text">Anteriores</span>
        </h2>
        <img
            src="https://picsum.photos/seed/picsum/500/500"
            alt="imagem do grupo"
            class="rounded img-fluid"
        />
    </div>
    <div class="col-12 col-lg-6">
        {% for article in articles_page.object_list if article.category ==
        "Evento"%} {% if not loop.first %}
        <h4 class="mt-4">{{ article.title }}</h4>
        <p class="mb-0 border-divisor">
            <span class="purple-text">Dia</span>: {{ article.locale_date }}
        </p>
        {% endif %} {% endfor %}
    </div>
</div>

<div class="row mt-5 pt-5">
    <div class="col-12">
        <h2>Conheça nossos <span class="purple-text">patrocinadores</span></h2>
    </div>
    <div class="col-12">
        <h3 class="text-center">Diamante</h3>
        <div class="d-lg-flex">
            {% for article in articles_page.object_list if article.category ==
            "Patrocinio Diamante"%}
            <div class="flex-grow-1 flex-center">
                <a
                    href="{{ SITEURL }}/{{ article.url }}"
                    rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}"
                >
                    <img
                        src="{{ SITEURL }}{{ article.image }}"
                        alt="imagem do grupo"
                        class="rounded img-fluid patrocinio"
                    />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <h3 class="text-center">Platina</h3>
        <div class="d-lg-flex justify-content-center">
            {% for article in articles_page.object_list if article.category ==
            "Patrocinio Platina"%}
            <div>
                <a
                    href="{{ SITEURL }}/{{ article.url }}"
                    rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}"
                >
                    <img
                        src="{{ SITEURL }}{{ article.image }}"
                        alt="imagem do grupo"
                        class="rounded img-fluid patrocinio"
                    />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <h3 class="text-center">Ouro</h3>
        <div class="d-lg-flex justify-content-center">
            {% for article in articles_page.object_list if article.category ==
            "Patrocinio Ouro"%}
            <a
                href="{{ SITEURL }}/{{ article.url }}"
                rel="bookmark"
                title="Permalink to {{ article.title|striptags }}"
            >
                <img
                    src="{{ SITEURL }}{{ article.image }}"
                    alt="imagem do grupo"
                    class="rounded img-fluid patrocinio"
                />
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <h3 class="text-center">Prata</h3>
        <div class="d-lg-flex justify-content-center">
            {% for article in articles_page.object_list if article.category ==
            "Patrocinio Prata"%}
            <a
                href="{{ SITEURL }}/{{ article.url }}"
                rel="bookmark"
                title="Permalink to {{ article.title|striptags }}"
            >
                <img
                    src="{{ SITEURL }}{{ article.image }}"
                    alt="imagem do grupo"
                    class="rounded img-fluid patrocinio"
                />
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-12">
        <h3 class="text-center">Bronze</h3>
        <div class="d-lg-flex justify-content-center">
            {% for article in articles_page.object_list if article.category ==
            "Patrocinio Bronze"%}
            <a
                href="{{ SITEURL }}/{{ article.url }}"
                rel="bookmark"
                title="Permalink to {{ article.title|striptags }}"
            >
                <img
                    src="{{ SITEURL }}{{ article.image }}"
                    alt="imagem do grupo"
                    class="rounded img-fluid patrocinio"
                />
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row mt-4 pt-4">
    <div class="col-12 col-lg-6">
        <h3 class="text-start">
            Que tal apoiar o <span class="purple-text">evento</span> ?
        </h3>
        <p>
            Temos uma proposta de apoio anual que incluem a divulgação em todos
            os eventos da comunidade de são marcos - rs além dos espaços no
            site. <br />
            Venha conversar conosco.
        </p>
    </div>
    <div class="col-12 col-lg-6">
        <p class="text-center pt-4">
            <a
                href="{{ SITEURL }}/theme/plano_de_patrocinio_2025.pdf"
                target="_blank"
                class="custom-buttom mt-4"
            >
                Plano de patrocinio
            </a>
        </p>
    </div>
</div>
<div class="row my-4 py-4">
    <div class="col-12 col-lg-6">
        <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/logopython.png"
            alt="logo"
            width="80px"
        />
        <h5>GRUPY São marcos - RS</h5>
    </div>
    <div class="col-12 col-lg-6">
        <h3 class="text-start">
            Fale <span class="purple-text">conosco</span>
        </h3>
        <p>
            whatsapp: (54) 9 9662-2121<br />
            email: perceubertoletti@gmail.com
        </p>
    </div>
</div>
{% endblock content %}
