<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupy São Marcos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/style.css">
</head>
<body>
    <h1>Site Em Construção</h1>
    <hr>
    <div class="links">
        <a href="https://forms.gle/nFSjzwehcEqU68tg7">Inscrição do evento dia 16/03/2024</a> | 
        <a href="https://github.com/grupy-sao-marcos/call4papers">Link para se palestrar!</a>
    </div>
</body>
</html>