{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }} - {{ SITENAME|striptags }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
{% include "navigation-blog.html" %}
<header id="site-blog" class="site-blog valign-center">
    <div class="intro blog">
        <h1>{{ page.title }}</h1>
        <br>
        <blockquote>{{ page.content }}</blockquote>
    </div>
</header>
<section id="blog-list">
  <div class="container">
    <div class="row">
      {% for article in articles if article.category== page.title %}
      <div class="col-md-6">
        <a href="/{{article.url}}" class="blog-card-link">
          <div class="blog-card">
            <div class="blog-card-date">
              <i class="ion-ios-calendar-outline"></i>
              {{ article.date | strftime('%d/%m/%Y') }}
            </div>
            <h3 class="blog-card-title">{{article.title}}</h3>
            <p class="blog-card-summary">{{article.summary|striptags}}</p>
            <span class="blog-card-read">Ler completo &rarr;</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include "footer.html" %}
{% endblock %}
