img.patrocinio {
    width: 200px;
    background-color: white;
}
html,
body {
    background-color: #101728;
    color: #fff;
    font-family: "Passion One", sans-serif;
}

.custom-buttom {
    color: #fff;
    font-family: "Passion One", sans-serif;
    text-decoration: none;
    background: rgb(38, 14, 105);
    background: linear-gradient(
        90deg,
        rgba(38, 14, 105, 1) 0%,
        rgba(147, 64, 255, 1) 100%
    );
    padding: 16px 64px;
    border-radius: 32px;
    transition: background 0.5s;
}

.custom-buttom:hover {
    background: linear-gradient(
        90deg,
        rgba(147, 64, 255, 1) 0%,
        rgba(38, 14, 105, 1) 100%
    );
    transition: background 0.5s;
}

h1 {
    display: inline;
    color: #fff;
}

h2 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

h3 {
    text-align: right;
    color: #fff;
    font-size: 3rem;
}

h4 {
    text-align: left;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0;
    & a {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;
    }
    & a:hover {
        color: rgba(147, 64, 255, 1);
        transition: all 0.3s;
    }
}

.purple-text {
    color: rgba(147, 64, 255, 1);
}

.border-divisor {
    border-bottom: 1px solid #fff;
}

p {
    font-size: 1.4rem;
}
