html, body {
    background: #333 ;
}

.section-title{
    color: white;
}

.white-text {
    color: white;
}
.container-line {
    padding: 18px;
}
.section-title-2{
    color: black;
}

#article-content {
    background-color: white;
    padding-bottom: 36px;
}

#article-content article{
    padding: 20px;
    height: 100%;
}

.event-img {
    width: 100%;
}

.intro.blog > blockquote{
    width: 60%;
    background-color: rgba(0,0,0,.5);
    margin: auto;
    text-align: left;
    text-transform: none;
}

.intro.blog > blockquote a{
    color: white;
    font-weight: 900;
}

#blog-list {
    background-color: aliceblue;
    padding: 20px;
}