html, body {
    background: #333 ;
}

.section-title{
    color: white;
}

.white-text {
    color: white;
}
.container-line {
    border: 2px solid black;
    padding: 18px;
}
.section-title-2{
    color: black;
}

#article-content article{
    margin-top: 200px;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
}

.event-img {
    width: 100%;
}